hr.line-double
  +ruler
  background: transparent url('../images/line-double.png') repeat-x scroll 0 0
  height: 2px

ul.arrow-light
  list-style-image: image_url("arrow-light.png")
  li
    +append-bottom(0.45em)


#footer-l, #footer-m, #footer-d
  .left
    +column(12)
    +prepend($spacer-columns)
  .right
    +column(7, true)
    +prepend(2)

$quick-nav-columns: 4

.quick-nav
  +column($quick-nav-columns)

.quick-nav-last
  +column($quick-nav-columns, true)

#footer-l
  background-color: $blue-8
  border-top: 1px solid $blue-7
  h3, h4
    color: $blue-1
  a
    +link-colors($blue-2, $blue-2, $link-active-color, $blue-2, $link-focus-color)
  .left, .right
    +append-bottom($vertical-space)
  #newsletter
    +prepend-top($vertical-space * 2)

#footer-m
  background-color: $blue-5
  border-top: 1px solid #FFF

#footer-d
  background-color: $blue-3
  border-top: 1px solid $blue-6
  height: $vertical-space * 2
  .left, .right
    +prepend-top($vertical-space * 0.75)
  p
    +small-text

#footer-l, #footer-m
  .left, .right
    +prepend-top($vertical-space * 2)

#footer-m, #footer-d
  p, li
    color: $grey-6


