@import "colors"
@import "compass/utilities/links/link-colors"
@import "compass/utilities/general/float"

$font-family: Arial, Helvetica, "Helvetica Neue", sans-serif !default
$fixed-font-family: "lucida console", "andale mono", monospace !default
$font-size: 12px !default
$font-color: $blue-2
$header-color: $blue-1


=typography($body-selector: body)
  @if $body-selector == true
    +typography-body
    +typography-defaults
  @else
    #{$body-selector}
      +typography-body
      @if $body-selector != body
        //@warn "[DEPRECATED] To specify the selector \"#{$body-selector}\\" to +typography, pass true as the first argument and mix it into #{$body-selector}."
        +typography-defaults
    @if $body-selector == body
      +typography-defaults

=normal-text
  font-family: $font-family
  color: $font-color

=small-text
  font-size: 0.9em
  line-height: 1
  margin-bottom: 0.75em

=fixed-width-text
  font: 1em $fixed-font-family
  line-height: 1.5

=header-text
  font-weight: normal
  color: $header-color

=quiet
  color: $grey-5 //$quiet-color

=loud
  color: $loud-color


=typography-body($font-size: $font-size)
  line-height: 1.5
  +normal-text
  font-size: 100% * $font-size / 16px

=typography-defaults
  #{headers(all)}
    +header-text
    img
      margin: 0
  h1
    font-size: 3em
    line-height: 1
    margin-bottom: 0.50em
  h2
    font-size: 2.2em
    line-height: 1
    margin-bottom: 0.75em
  h3
    font-size: 1.5em
    line-height: 1
    margin-bottom: 1.00em
  h4
    font-size: 1.25em
    line-height: 1
    margin-bottom: 0.5em
  h5
    font-size: 1em
    font-weight: bold
    margin-bottom: 1.50em
  h6
    font-size: 1em
    font-weight: bold
  p
    margin: 0 0 1em
    img.left
      +float-left
      margin: 1.5em 1.5em 1.5em 0
      padding: 0
    img.right
      +float-right
      margin: 1.5em 0 1.5em 1.5em
      padding: 0
  a
    text-decoration: underline
    +link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color)
  blockquote
    margin: 1.5em
    color: $alt_text_color
    font-style: italic
  strong
    font-weight: bold
  em
    font-style: italic
  dfn
    font-style: italic
    font-weight: bold
  sup, sub
    line-height: 0
  abbr, acronym
    border-bottom: 1px dotted #666666
  address
    margin: 0 0 1.5em
    font-style: italic
  del
    color: $alt_text_color
  pre
    margin: 1.5em 0
    white-space: pre
  pre, code, tt
    +fixed-width-text
  li ul, li ol
    margin: 0
  ul, ol
    margin: 0 0 $vertical-space 0
    padding-left: 15px
  ul
    list-style-type: disc
  ol
    list-style-type: decimal
  dl
    margin: 0 0 1.5em 0
    dt
      font-weight: bold
  dd
    margin-left: 1.5em
  table
    margin-bottom: 1.4em
    width: 100%
  th
    font-weight: bold
  thead th
    background: $blueprint-table-header-color
  th, td, caption
    padding: 4px 10px 4px 5px
  tr.even td
    background: $blueprint-table-stripe-color
  tfoot
    font-style: italic
  caption
    background: $blueprint_background_color
  .quiet
    +quiet
  .loud
    +loud


//
// Fancy-type
//

$alternate-text-font: Georgia, "Book Antiqua", "Warnock Pro", "Goudy Old Style", "Palatino", serif !default

=fancy-type
  +fancy-paragraphs
  .caps
    +caps
  .dquo
    +dquo
  .alt
    +alt

// For great looking type, use this code instead of asdf: 
// `<span class="alt">asdf</span>`
// Best used on prepositions and ampersands.
=alt
  color: $grey-5 //$alt-text-color
  font-family: $alternate-text-font
  font-style: italic
  font-weight: normal

// For great looking quote marks in titles, replace "asdf" with:
// `<span class="dquo">&#8220;</span>asdf&#8221;`
// (That is, when the title starts with a quote mark). 
// Note: you may have to change this value depending on your font size.
=dquo($offset: 0.5em)
  margin-left: -$offset

// Reduced size type with [incremental leading](http://www.markboulton.co.uk/journal/comments/incremental_leading/)
//
// This could be used for side notes. For smaller type, you don't necessarily want to 
// follow the 1.5x vertical rhythm -- the line-height is too much. 
//
// Using this mixin, reduces your font size and line-height so that for 
// every four lines of normal sized type, there is five lines of the sidenote. eg:
//
// Arguments:
// * `$font-size` - The desired font size in pixels. This will be converted to ems for you. Defaults to 10px.
// * `$base-font-size` - The base font size in pixels. Defaults to 12px
// * `$old-line-height` - The old line height. Defaults to 1.5 times the base-font-size
=incr($font-size: 10px, $base-font-size: $blueprint-font-size, $old-line-height: $base-font-size * 1.5)
  font-size: 1em * $font-size / $base-font-size
  line-height: 1em * $old-line-height / $font-size * 4 / 5
  margin-bottom: 1.5em


// Surround uppercase words and abbreviations with this class.
// Based on work by [Jørgen Arnor Gårdsø Lom](http://twistedintellect.com/)
=caps
  font-variant: small-caps
  letter-spacing: 1px
  text-transform: lowercase
  font-size: 1.2em
  line-height: 1%
  font-weight: bold
  padding: 0 2px

// This mixin is automatically included when you include `fancy-type`
=fancy-paragraphs
  p + p
    +sibling-indentation
  p.incr, .incr p
    +incr

// Indentation instead of line shifts for sibling paragraphs. Mixin to a selector like `p + p`
=sibling-indentation
  text-indent: 2em
  margin-top: -1.5em
  /* Don't want this in forms. */
  form &
    text-indent: 0
