<div id="footer-l">
  <div class="left">
    <h3>Acesso Rápido</h3>
    <hr class="line-double">
    <div class="quick-nav">
      <ul class="arrow-light">
        <li><a href="#">Regimento do Centro Universitário</a></li>
        <li><a href="#">Plano de Desenvolvimento Institucional</a></li>
        <li><a href="#">Comissão Própria de Avaliação</a></li>
        <li><a href="#">Avaliação do Controle de Qualidade</a></li>
      </ul>
    </div>
    <div class="quick-nav">
      <ul class="arrow-light">
        <li><a href="#">Regimento do Centro Universitário</a></li>
        <li><a href="#">Plano de Desenvolvimento Institucional</a></li>
        <li><a href="#">Comissão Própria de Avaliação</a></li>
        <li><a href="#">Avaliação do Controle de Qualidade</a></li>
      </ul>
    </div>
    <div class="quick-nav-last">
      <ul class="arrow-light">
        <li><a href="#">Regimento do Centro Universitário</a></li>
        <li><a href="#">Plano de Desenvolvimento Institucional</a></li>
        <li><a href="#">Comissão Própria de Avaliação</a></li>
        <li><a href="#">Avaliação do Controle de Qualidade</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <%= image_tag "fale-conosco.png", :id => "fale-conosco", :size => "242x138", :alt => "fale conosco: 0800 035 6777" %>
    <div id="newsletter">
      <h4>Newsletter</h4>
    </div>
  </div>
</div>

<div id="footer-m">
  <div class="left">
    <h4>UNIARAXÁ</h4>
    <p>Av. Ministro Olavo Drummond, 5<br>São Geraldo. Araxá - MG<br>CEP 38180-084</p>
  </div>
  <div class="right">
    <%= image_tag "follow.png", :size => "230x66", :alt => "siga-nos pela web :-)", :usemap => "#map-follow" %>
    <map name="map-follow">
      <area shape="rect" coords="0,37,29,66" href="http://www.facebook.com/uniaraxa" alt="facebook">
      <area shape="rect" coords="40,37,69,66" href="http://twitter.com/uniaraxa" alt="twitter">
      <area shape="rect" coords="80,37,109,66" href="http://www.orkut.com.br/Profile?uid=2000827569204052642" alt="orkut">
      <area shape="rect" coords="120,37,149,66" href="http://www.youtube.com/uniaraxaredesocial" alt="YouTube">
      <area shape="rect" coords="160,37,189,66" href="http://www.flickr.com/uniaraxa" alt="flickr">
      <area shape="rect" coords="200,37,229,66" href="http://www.slideshare.net/uniaraxa" alt="slideshare">
    </map>
  </div>
</div>

<div id="footer-d">
  <div class="left">
    <p>Copyright &copy; 2002-2010. Todos os direitos reservados.</p>
  </div>
  <div class="right">
    <ul class="nav">
      <li>Mapa do Site</li>
      <li>Privacidade</li>
      <li>Termos de Uso</li>
    </ul>
  </div>
</div>
