<div id="billboard">
  <ul id="buttons">
    <li><a class="off on" href="#">1</a></li>
    <li><a class="off" href="#">2</a></li>
    <li><a class="off" href="#">3</a></li>
    <li><a class="off" href="#">4</a></li>
  </ul>
  <div id="ads">
    <ul></ul>
  </div>
</div>

<div id="menu">
  <ul></ul>
</div>

<div class="left">
  <div id="quotes">
    <h2>Promover a educação cidadã para a empregabilidade, a sustentabilidade e o cruzamento de fronteiras&#8221;</h2>
    <ul class="nav">
      <li>Missão</li>
      <li>Valores</li>
      <li>Visão de Futuro</li>
    </ul>
  </div>
  <hr class="line-dashed" />
  <div id="video">
    <div id="player"><%= image_tag "mock-player-small.png", :size => "200x144", :alt => "video" %></div>
    <div id="desc">
      <h4>Você está contratado!</h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner</p>
      <p class="small">Duração: 1h 25min</p>
    </div>
  </div>
  <hr class="line-dashed" />
  <div id="agenda">
    <h2>Agenda</h2>
    <div>
      <h4>Tópicos em Prevenção e Reabilitação de Lesões Esportivas</h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4>Tópicos em Prevenção e Reabilitação de Lesões Esportivas</h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4>Tópicos em Prevenção e Reabilitação de Lesões Esportivas</h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4>Tópicos em Prevenção e Reabilitação de Lesões Esportivas</h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
  </div>
  <div id="carreira">
    <h2>Carreira</h2>
    <div>
      <h4>WOLI Consultoria e Treinamento</h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4>WOLI Consultoria e Treinamento</h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4>WOLI Consultoria e Treinamento</h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4>WOLI Consultoria e Treinamento</h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
  </div>
</div>

<div class="right"></div>
