<div id="billboard">
  <ul id="buttons">
    <li><a class="off on" href="#">1</a></li>
    <li><a class="off" href="#">2</a></li>
    <li><a class="off" href="#">3</a></li>
    <li><a class="off" href="#">4</a></li>
  </ul>
  <div id="ads">
    <ul></ul>
  </div>
</div>

<div id="menu">
  <ul></ul>
</div>
